.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  font-size: 4rem;
  margin: 0;
}

h2 {
  font-size: 1.75rem;
  color: RGB(51, 56, 71);
  margin: 0;
  margin-bottom: 0.20em;
}

p {
  font-size: 1.15rem;
  margin: 0;
}

.App__header {
  background-color: RGB(31, 37, 53);
  filter: opacity(96%);
  background-image: url(./images/react-logo.svg) ;
  background-repeat: repeat-y;
  background-position: right;
  min-height: 70vh;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App__header__navBar {
  display: flex;
  justify-content: space-between;
  padding: 0 0 4em;
}

.App__header__content {
  width: 55%;
}

.button {
  padding: 1em 1.25em;
  display: inline-block;
  margin: 2.5em 0;
  font-size: 0.85em;
  font-weight: bold;
  border-radius: 10px;
  color: #333847;
  font-weight: 600;
}

.features {
  padding: 5em 0;
  display: flex;
  justify-content: space-around;
}

.feature__card {
  width: 20%;
  margin: 0 1em;
}

.feature__card > img {
  width: 60%;
  margin-bottom: .75em;
}

.feature__card > p {
  color: RGB(158, 158, 158);
  font-weight: 600;
  font-size: 1rem;
}






